body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}


/*Containers*/

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}


/* Header */

header {
    background: #4D6466;
    color: #EEF3DB;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #FE615A 3px solid;
}

header a {
    color: #EEF3DB;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px
}

header .nameBanner {
    float: left;
}

header .nameBanner h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: #FE615A;
    font-weight: bold;
}

header a:hover {
    color: #FE615A;
    font-weight: bold;
}


/* Introduction */

#introduction {
    min-height: 400px;
    background-image: url("../img/intro_bg.JPG");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #EEF3DB;
}

#introduction h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#introduction p {
    font-size: 20px;
}


/* About Me */

#aboutme {
    padding: 15px;
    color: #EEF3DB;
    background: #4D6466;
}

#aboutme h1 {
    font-weight: bold;
    text-align: center;
}

#aboutme p {
    width: 100%;
    font-size: 17px;
    text-align: center;
}


/* Technologies */

#technologies {
    margin-top: 20px;
}

#technologies .technology {
    float: left;
    width: 20%;
    padding: 2.5%;
    text-align: center;
}

#technologies .technology img {
    width: 100px;
    height: 100px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #FE615A;
    text-align: center;
}